{% comment %}
Receives-
  page: page object
{% endcomment %}
<div class="col-12 my-2">
  <div class="card product-card">
    <div class="card-body">
      <a href="{{ page.url }}">
        <h3>{{ page.title }}</h3>
      </a>
    </div>
  </div>
</div>