{% liquid
  assign collection = section.settings.collection

%}

<div class="recommended-items">
  <div class="row">
  {% if collection.size > 0 %}
    {% for product in collection.products %}
        {% render 'product-card', product: product %}
    {% endfor %}
    {% else %}
    <h4>No items available!</h4>
  {% endif %}
  </div>


{% schema %}
  {
    "name": "Suggested Products",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Select collection"
      }
    ]
  }
{% endschema %}